.button {
    background: $med-grey;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: $font-size-l;
    font-weight: 300;
    line-height: 0.40;
    padding: $s-size;
    text-decoration: none;
    font-family: 'Thasadith', sans-serif;
}

.button--link {
    background: none;
}

.button--grey {
    background: #888;
}

.button--guest {
    background: none;
    color: $med-grey;
}

.button--timer {
    background: none;
    color: $med-grey;
}