.header {
    background: $med-grey;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: $xl-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        font-family: 'Thasadith', sans-serif;
        margin: 0;
        font-weight: 50
    }
}